//*****************************************************************************
//
// res.rc
//
// Resource file modelling menu bar for window.
//
// Copyright (c) 2015 Brandon To, Minh Mai, and Yuzhou Liu
// This code is licensed under BSD license (see LICENSE.txt for details)
//
// Created:
// January 3, 2016
//
// Modified:
// January 3, 2016
//
//*****************************************************************************
#include "res.h"

IDR_MENU MENUEX
BEGIN
    POPUP "File", IDM_FILE
    BEGIN
        MENUITEM "Connect", IDM_CONNECT
        MENUITEM "Disconnect", IDM_DISCONNECT
        MENUITEM "Quit", IDM_QUIT
    END
    POPUP "Options", IDM_OPTIONS
    BEGIN
        MENUITEM "Start/Stop Recording", IDM_RECORD
    END
END

